<!--
create the table and thead
then load the data using ajax
-->

<table id="setting-add-peruntukan" class="display compact" cellspacing="0" width="99%">
	<thead>
		<tr>
			<th style="width:30px;"></th>
			<th>CODE</th>
			<th>NAMA JABATAN</th>
		</tr>
	</thead>
</table>

<script>
	$(document).ready(function(){

		/*
		here is the code for make datatables 
		and show data using ajax
		*/
		/*
		define the variable to call datatable in it
		put the datatables in variable reusable
		to use it again in another needs 
		*/
		var table;

		table=$('#jabatan-toko').DataTable({ 
			"retrieve": true,
			"searching": true,
			"processing": true, 
			"serverSide": true,
			"bInfo": false,
			"lengthChange": false,
			"sAjaxSource": "<?php echo site_url('show_data')?>",
			"columns": [
          //{ "data": "detail", "orderable": false, "searchable": false },
          { "data": "code", "name": "code" },
          { "data": "name", "name": "name" },
          { "data": "id", "name": "id" , "orderable": false, "searchable": false,

          //here the code for render additional tag like checkbox, image , button or other
          render:function(data,type,full){
          	return '<img src="<?php echo base_url();?>/assets/img/close.png" title="Remove Data" class="remove" data-hapus="'+data+'">';
        }
    	},
    	],
    	"fnServerData": function (sSource, aoData, fnCallback)
    	{

    	$.ajax({"dataType": "json",  "type": "POST", "url": sSource,  "data":aoData,"success": fnCallback });
    	},
		});

		$('.remove').click(function(){
			//function to remove data

			//reload the datatables
			table.draw();
		});

	});
</script>